*{
    margin: 0px;
    padding: 0px;
}

.container_nota{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
}

.baixar{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(196, 196, 196);
}

.baixar button{
    width: 30%;
    height: 35px;
    font-size: larger;
    border: none;
}


.btn_baixar{
    background-color: rgb(10, 95, 7);
    color: rgb(196, 196, 196);
}

.btn_upload{
    background-color: rgb(23, 7, 95);
    color: rgb(196, 196, 196);
}

.btn_preencher{
    background-color: rgb(235, 0, 0);
    color: rgb(196, 196, 196);
}


.nota{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(196, 196, 196);
}

.nota h1{
   
    text-align: center;
    font-size: 400%;
}

.nota p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}